<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="displayProducts">
    <div class="container">
        <div id="categoryName" class="card">
            <strong th:text="${category.name}">Category Title</strong>
        </div>

        <div id="products" class="row">
            <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
                <div class="card">
                    <img src="http://placehold.it/400x250/000/fff"
                         th:src="@{${'/static/img/product_'+prod.id+'.jpg'}}"/>
                    <div class="card-header">
                        <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                        <p class="card-text" th:text="${prod.description}">Product description... </p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="card-text">
                            <a th:data-product-id="${prod.id}" class="btn btn-success" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>