.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}


img {
    height: 220px;
    width: 220px;
}

#category, #supplier {
    text-align: left;
    padding: 2px;
}

#supplier {
    margin: 0px 10px 10px 16px;
}

#category {
    margin: 0px 10px 10px 10px;
}

#categoryLabel, #supplierLabel {
    text-align: left;
    padding: 2px;
    margin: 10px 10px 10px 20px;
}

img.special-image {
    height: 70px;
    width: 70px;
    float: right;
    margin-right: 70px;
    margin-top: 7px;

}

.imageItemInCart, .continueShopping {
    height: 90px;
    width: 80px;
}

.continueShopping {
    float: right;
}


.amountItem-info {
    background-color: black;
    position: absolute;
    top: 240px;
    right: 74px;
}

.amountItem {
    border-radius: 100%;
    color: white;
    display: inline-block;
    font-weight: bold;
    vertical-align: baseline;
    white-space: nowrap;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    min-width: 25px;
    padding: 0;
    text-align: center;
}


.cart {
    margin-left: 120px;
    margin-right: 120px;
}


.cartItems {
    text-align: center;
}

.cartName {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}


.cartBlockLabels {
    height: 120px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #3451ff;
    margin: 20px 0 40px 250px;
}

.oddQuantity {
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 5px;
}

.addQuantity {
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 5px;
}

{

}

.cartItemLabelQuantity {
    font-size: 1.4rem;
    padding: 15px 30px 0 15px;
    margin: 15px 40px 5px 40px;
    font-weight: bold;
    display: inline-block;

}

.cartItemValuePhoto {
    font-size: 1.2rem;
    padding: 5px 30px 5px 30px;
    margin: 5px 70px 5px 0;
    display: inline-block;
    width: 170px;

}


.cartBlockItem {
    text-align: center;
    margin: 10px;
    border: 1px solid #3451ff;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    width: 1400px;

}

.cartItemLabel {
    font-size: 1.4rem;
    padding: 15px 30px 0 15px;
    margin: 15px 30px 5px 40px;
    font-weight: bold;
    display: inline-block;
}

.cartItemValue {
    font-size: 1.2rem;
    /*padding: 5px 30px 5px 30px;*/
    margin: 5px 50px 5px 0px;
    display: inline-flex;
    width: 200px;
}

.cartItemValueInput {
    font-size: 1.2rem;


}

.numberOfQuantity {
    height: 30px;
    width: 30px;
    text-align: center;
}

.removeIcon {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 135px;

}

.removeIcon:hover {
    font-size: 180%;
    cursor: pointer;
    color: red;
}


.summaryPrice {
    margin: 0 0 20px 800px;
    text-align: center;


}

.totalPrice {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    text-align: right;
}

.totalAmount {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}

.buttonNextStep {
    background-color: #3451ff;
    color: white;
    font-size: 1.2rem;
    width: 150px;
    border-radius: 10px;
    border-color: #3451ff;

}

.nextStep {
    margin: 0 0 20px 1230px;
    text-align: center;

}

.nextStep1, .nextStep2 {
    margin: 0 90px 50px 0px;
    text-align: center;

}



.addQuantity:hover {
    cursor: pointer;
}

.oddQuantity:hover {
    cursor: pointer;
}


.formData {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.dataUser {
    display: flex;
    margin: 10px;
    padding: 20px;
}

.personalData, .billingAddress, .shippingAddress, .billingAddress, .creditCard, .paypalForm {
    margin: 20px 30px 50px 30px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #7f7f82;
}

.titleOf {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
}


.labelName {
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.inputData {
    text-align: center;
    width: auto;
}


.dataUser input, .dataPayment input {
    border-color: #3451ff;
    border-radius: 10px;
}

.paymentOption {
    height: 40px;
    border-radius: 5px;
    margin: 15px;
}

.paymentMethods {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.paymentData {
    text-align: center;
    display:inline-block;
    flex-direction: row;
    justify-content: space-evenly;

}
.dataPayment{
    text-align: center;
}

.cardFooter{
    text-align: center;
}

.btn-success{
    background-color: #3451ff;
    border-color: #3451ff;
}

.btn-success:hover{
    background-color: #3451ff;
    border-color: #3451ff;

}